name: go

on:
  pull_request:
    paths:
      - .github/workflows/go.yaml
      - '**/*.go'
      - go.*
  push:
    paths:
      - .github/workflows/go.yaml
      - '**/*.go'
      - go.*
    branches:
      - master

jobs:
  check:
    uses: int128/go-workflows/.github/workflows/check.yaml@v0.3.0
    with:
        go-version: 1.23.1
        golangci-lint-version: v1.59.1

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.1
      - run: go test -v -race ./...
